#head { border: none; height: 120px }

#head_decor { width: 160px; height: 6px; }

#head .logo { height: 70px; line-height: 70px; width: 100%; margin-top: 25px; -webkit-app-region: drag; text-align: center; font-size: 40px; font-weight: bold; -webkit-text-fill-color: transparent; background: linear-gradient(to bottom, #0088cd, #00adfe); -webkit-background-clip: text; color: #0088cd; }

#content { position: relative; padding-top: 50px; }
#content .status-text { font-size: 14px; color: gray; position: absolute; left: 0; top: 0; padding: 0 50px; text-align: center; width: 100%; }
#content .seeker-button { display: block; margin: 0 auto; width: 90%; height: 36px; }
/*#content #cookies_button.seeker-button { border: none; background-color: #3b5998; }*/
#content .delimeter-or { width: 90%; margin: 24px auto; text-align: center; height: 1px; background: #343942; position: relative; }
#content .delimeter-or span { font-size: 14px; color: #5a5e65; font-weight: bold; display: block; width: 70px; height: 20px; background: #111b29; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; }
