*{
	margin:0;
	padding:0;

}

html{
	background: #14243d;
	background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:#fff;
	-ms-overflow-style: scrollbar;
	-webkit-app-region:drag;
	cursor: move;
}

a, a:visited, a:hover{
	color:#fff;
	text-decoration: none;
}