html { position: absolute; top:0; left:0; width:100%; height:100%; }

body { -webkit-user-select: none; overflow: hidden; font-family: 'Arial', sans-serif; font-size: 12px; color:#fff; position: relative; width: 100%; height: 100%; border: 1px solid #28313e; border-top: none; box-sizing: border-box; }

* { font-family: inherit; margin:0; padding:0; outline: none; box-sizing: inherit; }

.no-selectable {  -webkit-user-select: none; cursor: default; }

a, a:visited, a:hover{ color:#fff; text-decoration: none; }

.styled-scrollbar::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: transparent; }
.styled-scrollbar::-webkit-scrollbar { width: 8px; background-color: transparent; }
.styled-scrollbar::-webkit-scrollbar-thumb { border-radius: 3px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }

#head { background-color: #111b29; height: 80px; border-bottom: 1px solid #28313e; -webkit-app-region:drag; }

#head_decor { height: 10px; width: 540px; background-color: #7c8e98; position: absolute; left: 0; right: 0; margin: 0 auto; top: 0; border-radius: 0 0 3px 3px; }
#head_decor:before,
#head_decor:after { content: ''; display: block; background-color: inherit; height: 20px; width: 30px; position: absolute; left: -22px; bottom: 7px; transform: rotate(30deg); }
#head_decor:after { left: auto; right: -22px; bottom: 7px; transform: rotate(-30deg); }

#head .logo { background: url('../icon.ico') 20px center/55% no-repeat; width: 100px; position: absolute; z-index: 5; left: 0; top: 0; height: 80px; -webkit-app-region: no-drag; }

#head .menu { position: relative; z-index: 1; list-style: none; display: block; width: 630px; margin-left: 100px; height: 80px; }
#head .menu li { line-height: 80px; display: inline-block; padding: 0 10px; text-transform: uppercase; font-size: 18px; }
#head .menu li span { -webkit-app-region: no-drag; color: #808080; height: 20px; line-height: 20px; cursor: pointer; display: inline-block; vertical-align: middle; }
#head .menu li.active span,
#head .menu li span:hover { color: #9EC5EA; text-shadow: 0 0 15px #9EC5EA; }

.window-buttons { cursor: default; font-size: 0; z-index: 999; position: absolute; top: 10px; right: 10px; height: 14px; line-height: 14px; text-align: right; -webkit-app-region: no-drag; }
.window-buttons span { cursor: pointer;  font-size: 12px; display: inline-block; vertical-align: middle; width: 14px; height: inherit; line-height: inherit; margin-left: 6px; }

.window-buttons span.minimizer {  }
.window-buttons span.minimizer:hover { color: #9EC5EA;  }

.window-buttons span.closer { font-size: 14px; }
.window-buttons span.closer:hover { color: #9EC5EA }

#content { height: 420px; border-bottom: 1px solid #28313e; background: #111b29; }
.content-item { position: relative;  width: 100%; height: 100%; display: none; }
.content-item.active { display: block; }

.content-item[data-id=profile] .info { position: absolute; left: 0; top: 0; height: 100%; width: calc(100% - 250px); padding: 10px; }
.content-item[data-id=profile] .info .avatar { position: absolute; left: 10px; top: 10px; width: 150px; height: 150px; border-radius: 3px; background: center/contain no-repeat; }
.content-item[data-id=profile] .info .username { position: absolute; left: 170px; top: 10px; color: #9EC5EA; font-size: 20px; font-weight: bold; }

.content-item[data-id=profile] .info-links { position: absolute; left: 10px; bottom: 10px; line-height: 16px; }
.content-item[data-id=profile] .settings { position: absolute; right: 0; top: 0; height: 100%; width: 250px; background: rgba(0, 0, 0, 0.2); border-left: 1px solid #28313e; padding: 10px; }
.content-item[data-id=profile] .settings .setter#lang { width: 100%; cursor: pointer; margin-bottom: 5px; height: 24px; }
.content-item[data-id=profile] .settings .build { width: 100%; position: absolute; bottom: 10px; left: 0; text-align: center; }
.content-item[data-id=profile] .seeker-button.logout { position: absolute; right: 10px; bottom: 10px; }

.services_switcher { background-color: #030b15; width: 100px; height: 100%; position: absolute; left: 0; top: 0; border-right: 1px solid #28313e; }

.services-icons { padding-top: 4px; }

.service-icon { border: 1px solid transparent; cursor: pointer; position: relative; width: 80px; height: 80px; margin: 0 auto 15px; font-size: 12px; }
.service-icon.active { border-color: #1a62a1; background: rgba(26, 98, 160, 0.3); }
.service-icon:hover:not(.active) {  background: rgba(255, 255, 255, 0.3); border-color: #fff; }
.service-icon .bg { margin: 10px auto 0; width: 42px; height: 42px; background: center center/contain no-repeat; }
.service-icon .service-name { display: block; text-align: center; }
.service-icon .service-status { width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; position: absolute; right: 2px; bottom: 2px; background: center/contain no-repeat; }
.service-icon .service-status span { display: none; color: lightgray; }
.service-icon .service-status[data-status=good] span:first-child { display: inline; color: lightgreen; }
.service-icon .service-status[data-status=normal] span + span { display: inline; }
.service-icon .service-status[data-status=bad] span + span { display: inline; color: orangered; }

.list_type { cursor: pointer; width: 100%; height: 30px; padding: 3px 4px 2px; text-align: center; font-size: 0; }
.list_type span { vertical-align: top; color: gray; display: inline-block; width: 48.5%; height: 100%; line-height: 25px; border: 1px solid #28313e; font-size: 18px; }
.list_type span:first-child { margin-right: 2px; font-size: 16px; }
.list_type:not(.state) span:first-child { color: #fff; }
.list_type.state span+span { color: #fff; }

.list_type.state + .services-icons .service-icon { width: 90px; height: 20px; margin: 0 auto 5px; }
.list_type.state + .services-icons .service-icon .bg { width: 18px; height: 18px; display: inline-block; vertical-align: middle; margin: 0 4px 0 2px; }
.list_type.state + .services-icons .service-icon .service-name { left: 22px; top: 0; line-height: 20px; display: inline-block; vertical-align: middle; }
.list_type.state + .services-icons .service-icon:hover,
.list_type.state + .services-icons .service-icon.active { color: #9EC5EA;  border-color: transparent; background: transparent; }
.list_type.state + .services-icons .service-icon .service-status { font-size: 14px; position: absolute; right: 0; bottom: 0; }



.services-panels { padding: 6px 15px 10px; position: absolute; left: 100px; top: 0; width: 630px; height: 100%; overflow: hidden; }

.service-panel { display: none; }
.service-panel.active { display: block; }

.service-panel > ul { list-style: none; font-size: 0; padding-left: 10px; padding-top: 2px; }
.service-panel > ul li { border-radius: 2px 2px 0 0; color: #808080; cursor: pointer; display: inline-block; font-size: 12px; line-height: 14px; height: 18px; vertical-align: middle; padding: 4px 12px; background: rgba(80, 80, 80, 0.4); }
.service-panel > ul li.active { color: #fff; }
.service-panel > ul li+li { margin-left: 6px; }

.in-service-panel { font-size: 14px; display: none; background: rgba(80, 80, 80, 0.2); height: 340px; padding: 5px; border-radius: 2px; border: 1px solid rgba(80, 80, 80, 0.5); }
.in-service-panel.active { display: block; }

.service-logs { font-size: 13px; overflow-x: auto; }
.service-logs .warn { color: lightcoral; }
.service-logs span.time { color: #9EC5EA; padding-right: 6px; }

.service-logs { -webkit-user-select: text; }
.service-settings {  }

.service-settings .input-wrap { display: inline-block; position: relative; }
.service-settings .input-wrap .label { padding: 0 5px; font-size: 12px; color: #9EC5EA; cursor: help; }
.service-settings .input-wrap.number { text-align: center; }

.service-settings .input-wrap.number .value-label,
.service-settings .input-wrap.number .button { display: inline-block; vertical-align: middle; }

.service-settings .input-wrap.number .value-label { min-width: 20px; text-align: center; font-size: 15px; }

.service-settings .input-wrap.number .button { width: 20px; cursor: pointer; color: #9EC5EA; font-weight: bold; text-align: center; font-size: 14px; }
.service-settings .input-wrap.number .button:hover { color: #0e86ca; }
.service-settings .input-wrap.number .button.disabled { cursor: default; color: grey; }

.service-settings .input-wrap .label { padding: 0 5px; font-size: 12px; color: #9EC5EA; }






.seeker-button { color: #fff; cursor: pointer; width: 125px; height: 30px; text-align: center; line-height: 26px; font-size: 14px; font-weight: bold; background-color: #0e86ca; border: 2px solid #10a1de; box-sizing: border-box; }
.seeker-button:not(.disabled):hover { background-color: #03a9f7; }
.seeker-button.disabled { cursor: default; color: lightgray; opacity: 0.8; pointer-events: none; }

.service-user-panel { position: relative; padding: 7px 0; height: 52px; }
.service-user-panel .seeker-button { position: absolute; right: 0; bottom: 10px; }
.service-user-panel .user-info { display: none; line-height: 16px; }
.service-user-panel .user-info.visible { display: block; }
.service-user-panel .user-info .avatar { width: 40px; height: 40px; background: center/contain transparent no-repeat; border-radius: 1px; float: left; margin-right: 10px; }
.service-user-panel .user-info > span { display: block; }

button.open-website { font-size: inherit; font-weight: inherit; background: transparent; cursor: pointer; border: none; text-decoration: underline; color: #fff; }
button.open-website:hover { color: #9EC5EA; }
.service-user-panel button.open-website { position: absolute; right: 140px; bottom: 10px; }


.input-wrap { position: relative; line-height: 20px; }
.input-wrap.checkbox input,
.input-wrap.checkbox label { display: inline-block; vertical-align: middle; cursor: pointer; color: #9EC5EA; font-weight: bold; font-size: 12px; }
.input-wrap.checkbox input[disabled] { cursor: default; }
.input-wrap.checkbox input[disabled] + label { cursor: default; color: grey; }