@import url("../../../../node_modules/tippy.js/dist/tippy.css");

html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  -webkit-user-select: none;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #28313e;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

.no-selectable {
  -webkit-user-select: none;
  cursor: default;
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
}

.styled-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#head {
  position: relative;
  z-index: 10;
  background-color: #111b29;
  height: 80px;
  border-bottom: 1px solid #28313e;
  -webkit-app-region: drag;
}

#head_decor {
  height: 10px;
  width: 76%;
  background-color: #7c8e98;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  border-radius: 0 0 3px 3px;
}
#head_decor:before,
#head_decor:after {
  content: "";
  display: block;
  background-color: inherit;
  height: 20px;
  width: 30px;
  position: absolute;
  left: -22px;
  bottom: 7px;
  transform: rotate(30deg);
}
#head_decor:after {
  left: auto;
  right: -22px;
  bottom: 7px;
  transform: rotate(-30deg);
}

#head .logo {
  background: url("../../../resources/images/icon.ico") center/70% no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  -webkit-app-region: no-drag;
}

#head .menu {
  position: relative;
  z-index: 1;
  list-style: none;
  display: block;
  width: 630px;
  margin-left: 90px;
  height: 80px;
}
#head .menu li {
  line-height: 80px;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 18px;
}
#head .menu li span {
  -webkit-app-region: no-drag;
  color: #808080;
  height: 30px;
  line-height: 20px;
  padding-top: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
#head .menu li.active span,
#head .menu li span:hover {
  color: #9ec5ea;
  text-shadow: 0 0 15px #9ec5ea;
}

#head .update-available {
  display: none;
  -webkit-app-region: no-drag;
  line-height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: help;
  color: gray;
  z-index: 5;
}
#head .update-available.progress {
  display: block;
}
#head .update-available.downloaded {
  color: #32cd32;
}
#head .user-bar {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 70px;
  line-height: 70px;
  text-align: right;
  font-size: 0;
  z-index: 2;
}

#head .user-bar > div {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  -webkit-app-region: no-drag;
  color: gray;
}

#head .user-bar > div .fa {
  font-size: 16px;
}

#head .user-bar > div.btn {
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#head .user-bar > div.btn:not(:last-child) {
  border-right: none;
}

#head .user-bar > div.btn.disabled {
  pointer-events: none;
}

#head .user-bar > div.btn:not(.no-active):not(.disabled):hover {
  border-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer;
}

#head .user-bar .avatar {
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 50%;
  margin-right: -10px;
  position: relative;
  z-index: 2;
}

#head .user-bar > div.username {
  padding-left: 25px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: lightgray;
}

.window-buttons {
  cursor: default;
  font-size: 0;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
  line-height: 14px;
  text-align: right;
  -webkit-app-region: no-drag;
}
.window-buttons span {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: inherit;
  line-height: inherit;
  margin-left: 6px;
}
.window-buttons span:hover {
  color: #9ec5ea;
}

.window-buttons span.closer {
  font-size: 14px;
}

#content {
  height: calc(100% - 80px);
}
.content-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.content-item.active {
  display: flex;
}

.content-item[data-menu-id="settings"] .left-side,
.content-item[data-menu-id="settings"] .right-side {
  position: relative;
  padding: 10px;
}

.content-item[data-menu-id="settings"] .left-side {
  width: 100%;
}
.content-item[data-menu-id="settings"] .info-links {
  position: absolute;
  left: 10px;
  bottom: 10px;
  line-height: 16px;
}
.content-item[data-menu-id="settings"] .right-side {
  height: 100%;
  width: 250px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.2);
  border-left: 1px solid #28313e;
}
.content-item[data-menu-id="settings"] .right-side .setter#lang {
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
  height: 24px;
}
.content-item[data-menu-id="settings"] .right-side .build {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
}

label[for="useragent"] {
  font-size: 16px;
  line-height: 25px;
}

textarea#useragent {
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px;
}

.services_switcher {
  background-color: rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 100%;
  position: relative;
  border-right: 1px solid #28313e;
  overflow: hidden;
  flex-shrink: 0;
}

.services_switcher.wide {
  width: 160px;
}

.services_switcher .expander {
  width: 100%;
  z-index: 5;
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding-left: 10px;
  color: gray;
}

.services_switcher .expander .span-wrap {
  display: inline;
}

.services_switcher .expander span {
  cursor: pointer;
}

.services_switcher .expander span + span {
  display: none;
}

.services_switcher .expander .span-wrap:hover span {
  color: #fff;
}

.services_switcher.wide .expander span:first-child {
  display: none;
}

.services_switcher.wide .expander span + span {
  display: inline;
}

.services-icons {
  padding-top: 4px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.service-icon {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px 0 0 20px;
  font-size: 12px;
  overflow: hidden;
}
.service-icon.active {
  background: rgba(255, 255, 255, 0.2);
}
.service-icon.active:after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #10a1de;
}
.service-icon:hover:not(.active) {
  background: rgba(255, 255, 255, 0.3);
  border-color: #fff;
}
.service-icon .bg {
  width: 30px;
  height: 30px;
  background: center center/contain no-repeat;
}
.service-icon .service-name {
  display: none;
  text-align: center;
  position: absolute;
  left: 60px;
  font-size: 13px;
  color: lightgray;
  z-index: 5;
  top: 0;
}
.services_switcher.wide .service-icon .service-name {
  display: block;
}
.service-icon .service-state {
  width: 20px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  bottom: -18px;
}
.service-icon .service-state {
  background-color: lightgray;
}
.service-icon .service-state[data-state="started"] {
  background-color: lightgreen;
}
.service-icon .service-state[data-state="error"] {
  background-color: orangered;
}

.services-panels {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.service-panel {
  display: none;
  flex-direction: column;
  height: 100%;
}
.service-panel.active {
  display: flex;
}

.service-panel > ul {
  list-style: none;
  font-size: 0;
  padding-left: 10px;
  padding-top: 2px;
  height: 20px;
  flex-shrink: 0;
}
.service-panel > ul li {
  border-radius: 2px 2px 0 0;
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  height: 18px;
  vertical-align: middle;
  padding: 4px 12px;
  background: rgba(80, 80, 80, 0.4);
}
.service-panel > ul li.active {
  color: #fff;
}
.service-panel > ul li + li {
  margin-left: 6px;
}

.in-service-panel {
  font-size: 14px;
  display: none;
  height: 100%;
  padding: 5px 10px;
  position: relative;
}
.in-service-panel.active {
  display: block;
}

.service-logs {
  font-size: 13px;
  overflow-x: auto;
}
.service-logs .warn {
  color: lightcoral;
}
.service-logs span.time {
  color: #9ec5ea;
  padding-right: 6px;
}
.service-logs span.open-website {
  cursor: pointer;
  text-decoration: underline;
}
.service-logs span.open-website:hover {
  color: #9ec5ea;
}

.service-logs {
  -webkit-user-select: text;
}
.service-logs .clear-log {
  position: fixed;
  top: 123px;
  right: 10px;
  font-size: 12px;
  color: #9ec5ea;
  cursor: pointer;
}

.service-settings .input-wrap {
  display: inline-block;
  position: relative;
}
.service-settings .input-wrap.number {
  text-align: center;
  width: 20%;
  margin-bottom: 10px;
  vertical-align: top;
}
.service-settings .input-wrap.checkbox .label {
  display: inline-block;
}
.service-settings .input-wrap .label {
  padding: 0 5px;
  font-size: 12px;
  color: #9ec5ea;
  cursor: help;
}
.service-settings .input-wrap.number .value-label,
.service-settings .input-wrap.number .button {
  display: inline-block;
  vertical-align: middle;
}

.service-settings .input-wrap.number .value-label {
  min-width: 20px;
  text-align: center;
  font-size: 15px;
}

.service-settings .input-wrap.number .button {
  width: 20px;
  cursor: pointer;
  color: #9ec5ea;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.service-settings .input-wrap.number .button:hover {
  color: #0e86ca;
}
.service-settings .input-wrap.number .button.disabled {
  cursor: default;
  color: grey;
}

.service-settings .input-wrap.checkbox {
  padding-left: 5px;
  line-height: 20px;
  width: 50%;
  vertical-align: top;
}
.service-settings .input-wrap.checkbox input {
  margin-right: 3px;
}

.seeker-button {
  color: #fff;
  cursor: pointer;
  width: 125px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  background-color: #10a1de;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
}
.seeker-button:not(.disabled):hover {
  background-color: #03a9f7;
}
.seeker-button.disabled {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.service-control-panel {
  position: relative;
  padding: 0 10px;
  font-size: 0;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
}
.service-control-panel .seeker-button {
  vertical-align: middle;
  display: inline-block;
}
.service-control-panel .user-info {
  display: none;
  vertical-align: middle;
  padding-left: 10px;
}
.service-control-panel .user-info.visible {
  display: inline-block;
  flex-grow: 1;
}
.service-control-panel .user-info .avatar {
  width: 30px;
  height: 30px;
  background: center/contain transparent no-repeat;
  border-radius: 1px;
  display: inline-block;
  vertical-align: middle;
}
.service-control-panel .user-info > span {
  display: inline-block;
  font-size: 14px;
  padding-left: 5px;
  vertical-align: middle;
  max-width: 45%;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service-control-panel .user-info.visible + .service-control-panel-buttons {
  flex-grow: 0;
}

.service-control-panel-buttons {
  height: 100%;
  flex-grow: 1;
  text-align: right;
}

.service-control-panel-buttons span.service-control-button {
  font-size: 14px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 28px;
  height: 28px;
  vertical-align: middle;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  cursor: pointer;
  color: #808080;
}
.service-control-panel-buttons span.service-control-button:hover,
.service-control-panel-buttons span.service-control-button.active {
  color: #9ec5ea;
}

button.open-website {
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  color: #fff;
}
button.open-website:hover {
  color: #9ec5ea;
}
.service-control-panel button.open-website {
  position: absolute;
  right: 140px;
  bottom: 10px;
}

.input-wrap {
  position: relative;
  line-height: 20px;
}
.input-wrap.checkbox input,
.input-wrap.checkbox label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #9ec5ea;
  font-weight: bold;
  font-size: 12px;
}
.input-wrap.checkbox input[disabled] {
  cursor: default;
}
.input-wrap.checkbox input[disabled] + label {
  cursor: default;
  color: grey;
}
