{
  "root": true,
  "extends": ["standard", "plugin:prettier/recommended"],
  "env": {
    "jest": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
