html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  -webkit-user-select: none;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #28313e;
  border-top: none;
  box-sizing: border-box;
}

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

.no-selectable {
  -webkit-user-select: none;
  cursor: default;
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
}

.styled-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#head {
  position: relative;
  z-index: 10;
  background-color: #111b29;
  height: 80px;
  border-bottom: 1px solid #28313e;
  -webkit-app-region: drag;
}

#head_decor {
  height: 10px;
  width: 540px;
  background-color: #7c8e98;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  border-radius: 0 0 3px 3px;
}
#head_decor:before,
#head_decor:after {
  content: "";
  display: block;
  background-color: inherit;
  height: 20px;
  width: 30px;
  position: absolute;
  left: -22px;
  bottom: 7px;
  transform: rotate(30deg);
}
#head_decor:after {
  left: auto;
  right: -22px;
  bottom: 7px;
  transform: rotate(-30deg);
}

#head .logo {
  background: url("../../resources/images/icon.ico") 20px center/55% no-repeat;
  width: 100px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  height: 80px;
  -webkit-app-region: no-drag;
}

#head .menu {
  position: relative;
  z-index: 1;
  list-style: none;
  display: block;
  width: 630px;
  margin-left: 100px;
  height: 80px;
}
#head .menu li {
  line-height: 80px;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 18px;
}
#head .menu li span {
  -webkit-app-region: no-drag;
  color: #808080;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
#head .menu li.active span,
#head .menu li span:hover {
  color: #9ec5ea;
  text-shadow: 0 0 15px #9ec5ea;
}

#head .update-available {
  display: none;
  -webkit-app-region: no-drag;
  line-height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: help;
  color: gray;
  z-index: 5;
}
#head .update-available.progress {
  display: block;
}
#head .update-available.downloaded {
  color: #32cd32;
}

.window-buttons {
  cursor: default;
  font-size: 0;
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
  line-height: 14px;
  text-align: right;
  -webkit-app-region: no-drag;
}
.window-buttons span {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: inherit;
  line-height: inherit;
  margin-left: 6px;
}
.window-buttons span:hover {
  color: #9ec5ea;
}

.window-buttons span.closer {
  font-size: 14px;
}

#content {
  height: 420px;
  border-bottom: 1px solid #28313e;
  background: #111b29;
}
.content-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.content-item.active {
  display: flex;
}

.content-item[data-id="profile"] .info {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 250px);
  padding: 10px;
}
.content-item[data-id="profile"] .info .avatar {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  background: center/contain no-repeat;
}
.content-item[data-id="profile"] .info .username {
  position: absolute;
  left: 170px;
  top: 10px;
  color: #9ec5ea;
  font-size: 20px;
  font-weight: bold;
}

.content-item[data-id="profile"] .info-links {
  position: absolute;
  left: 10px;
  bottom: 10px;
  line-height: 16px;
}
.content-item[data-id="profile"] .settings {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: rgba(0, 0, 0, 0.2);
  border-left: 1px solid #28313e;
  padding: 10px;
}
.content-item[data-id="profile"] .settings .setter#lang {
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
  height: 24px;
}
.content-item[data-id="profile"] .settings .build {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
}
.content-item[data-id="profile"] .seeker-button.logout {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.services_switcher {
  background-color: #030b15;
  width: 70px;
  height: 100%;
  position: relative;
  border-right: 1px solid #28313e;
  overflow: hidden;
  flex-shrink: 0;
}

.services_switcher.wide {
  width: 200px;
}

.services-icons {
  padding-top: 4px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.service-icon {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 5px 0 0 20px;
  font-size: 12px;
  overflow: hidden;
}
.service-icon.active {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
}
.service-icon.active:after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #10a1de;
}
.service-icon:hover:not(.active) {
  background: rgba(255, 255, 255, 0.3);
  border-color: #fff;
}
.service-icon .bg {
  width: 30px;
  height: 30px;
  background: center center/contain no-repeat;
}
.service-icon .service-name {
  display: none;
  text-align: center;
}
.services_switcher.wide .service-icon .service-name {
  display: block;
}
.service-icon .service-status {
  width: 20px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  bottom: -15px;
}
.service-icon .service-status {
  background-color: lightgray;
}
.service-icon .service-status[data-status="good"] {
  background-color: lightgreen;
}
.service-icon .service-status[data-status="bad"] {
  background-color: orangered;
}

.services-panels {
  padding: 6px 15px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.service-panel {
  display: none;
}
.service-panel.active {
  display: block;
}

.service-panel > ul {
  list-style: none;
  font-size: 0;
  padding-left: 10px;
  padding-top: 2px;
}
.service-panel > ul li {
  border-radius: 2px 2px 0 0;
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  height: 18px;
  vertical-align: middle;
  padding: 4px 12px;
  background: rgba(80, 80, 80, 0.4);
}
.service-panel > ul li.active {
  color: #fff;
}
.service-panel > ul li + li {
  margin-left: 6px;
}

.in-service-panel {
  font-size: 14px;
  display: none;
  background: rgba(80, 80, 80, 0.2);
  height: 340px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgba(80, 80, 80, 0.5);
}
.in-service-panel.active {
  display: block;
}

.service-logs {
  font-size: 13px;
  overflow-x: auto;
}
.service-logs .warn {
  color: lightcoral;
}
.service-logs span.time {
  color: #9ec5ea;
  padding-right: 6px;
}
.service-logs span.open-website {
  cursor: pointer;
  text-decoration: underline;
}
.service-logs span.open-website:hover {
  color: #9ec5ea;
}

.service-logs {
  -webkit-user-select: text;
}
.service-logs .clear-log {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 12px;
  color: #9ec5ea;
  cursor: pointer;
}
.service-settings {
}

.service-settings .input-wrap {
  display: inline-block;
  position: relative;
}
.service-settings .input-wrap .label {
  padding: 0 5px;
  font-size: 12px;
  color: #9ec5ea;
  cursor: help;
}
.service-settings .input-wrap.number {
  text-align: center;
  width: 20%;
  margin-bottom: 10px;
  vertical-align: top;
}

.service-settings .input-wrap.number .value-label,
.service-settings .input-wrap.number .button {
  display: inline-block;
  vertical-align: middle;
}

.service-settings .input-wrap.number .value-label {
  min-width: 20px;
  text-align: center;
  font-size: 15px;
}

.service-settings .input-wrap.number .button {
  width: 20px;
  cursor: pointer;
  color: #9ec5ea;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.service-settings .input-wrap.number .button:hover {
  color: #0e86ca;
}
.service-settings .input-wrap.number .button.disabled {
  cursor: default;
  color: grey;
}

.service-settings .input-wrap .label {
  padding: 0 5px;
  font-size: 12px;
  color: #9ec5ea;
}

.service-settings .input-wrap.checkbox {
  padding-left: 5px;
  line-height: 20px;
  width: 50%;
  vertical-align: top;
}
.service-settings .input-wrap.checkbox input {
  margin-right: 3px;
}

.seeker-button {
  color: #fff;
  cursor: pointer;
  width: 125px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  background-color: #0e86ca;
  border: 2px solid #10a1de;
  box-sizing: border-box;
}
.seeker-button:not(.disabled):hover {
  background-color: #03a9f7;
}
.seeker-button.disabled {
  cursor: default;
  color: lightgray;
  opacity: 0.8;
  pointer-events: none;
}

.service-user-panel {
  position: relative;
  padding: 7px 0;
  height: 52px;
}
.service-user-panel .seeker-button {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.service-user-panel .user-info {
  display: none;
  line-height: 16px;
}
.service-user-panel .user-info.visible {
  display: block;
}
.service-user-panel .user-info .avatar {
  width: 40px;
  height: 40px;
  background: center/contain transparent no-repeat;
  border-radius: 1px;
  float: left;
  margin-right: 10px;
}
.service-user-panel .user-info > span {
  display: block;
}

button.open-website {
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  color: #fff;
}
button.open-website:hover {
  color: #9ec5ea;
}
.service-user-panel button.open-website {
  position: absolute;
  right: 140px;
  bottom: 10px;
}

.input-wrap {
  position: relative;
  line-height: 20px;
}
.input-wrap.checkbox input,
.input-wrap.checkbox label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #9ec5ea;
  font-weight: bold;
  font-size: 12px;
}
.input-wrap.checkbox input[disabled] {
  cursor: default;
}
.input-wrap.checkbox input[disabled] + label {
  cursor: default;
  color: grey;
}
